/* סגנון לשקופיות */
.review-slide {
  width: 300px !important;
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

/* לחצי הניווט - יוצגו רק בדסקטופ/טאבלט */
.swiper-button-prev,
.swiper-button-next {
  top: 79%;
  color: #e50914 !important;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 50% !important;
}
