/* לחצי הניווט עם מרווח אחיד */
.swiper-button-prev,
.swiper-button-next {
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: #e50914 !important;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}
